In [9]:
from sklearn import tree
import pandas as pd
import numpy as np

In [10]:
datasets = pd.read_csv('Dataset Iris.csv')

In [11]:
datasets.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,7.00,3.02,4.07,1.04,Iris-versicolor
1,2,6.04,3.02,4.05,1.05,Iris-versicolor
2,3,6.09,3.01,4.09,1.05,Iris-versicolor
3,4,5.05,2.03,4.00,1.03,Iris-versicolor
4,5,6.05,2.08,4.06,1.05,Iris-versicolor

In [12]:
datasets['Species'] = pd.factorize(datasets.Species)[0]

In [ ]:
datasets.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           7.00          3.02           4.07          1.04        0
1   2           6.04          3.02           4.05          1.05        0
2   3           6.09          3.01           4.09          1.05        0
3   4           5.05          2.03           4.00          1.03        0
4   5           6.05          2.08           4.06          1.05        0

In [13]:
datasets = datasets.drop(labels="Id", axis=1)

In [14]:
datasets.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           7.00          3.02           4.07          1.04        0
1           6.04          3.02           4.05          1.05        0
2           6.09          3.01           4.09          1.05        0
3           5.05          2.03           4.00          1.03        0
4           6.05          2.08           4.06          1.05        0

In [15]:
datasets = datasets.to_numpy()

In [16]:
dataTraining = np.concatenate((datasets[0:40, :], datasets[50:90, :], datasets[100:140, :]), axis=0)
dataTesting = np.concatenate((datasets[40:50, :], datasets[90:100, :], datasets[140:150, :]), axis=0)

In [17]:
inputTrain = dataTraining[:, 0:4]
inputTest = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2. 2.]

120

In [18]:
model = tree.DecisionTreeClassifier()

In [19]:
model = model.fit(inputTrain, labelTraining)

In [20]:
hasilPrediksi = model.predict(inputTest)
print("Label Sebenarnya    : ", labelTesting)
print("Hasil Prediksi      : ", hasilPrediksi)

Label Sebenarnya    :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2.]
Hasil Prediksi      :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2.
 2. 2. 2. 2. 2. 2.]

In [21]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi : ", prediksiBenar/ (prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  30 data
Prediksi Salah :  0 data
Akurasi :  100.0 %